* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  height: 100vh;
  text-align: center;
}

#toggle {
  margin-left: 5px;
}

span {
  font-size: 20px;
}

.lit {
  background-color: blanchedalmond;
}

.dark {
  background-color: black;
  color: white;
}

.temp {
  padding: 2px;
  margin: 3px;
}
